*{
    font-family: sans-serif;
}

body{
    margin: 0;
    padding: 0 !important;
}

.row{
    margin: 0 !important;
}

a:hover{
    text-decoration: none !important;
}


/* COMIENZO PARTE HEADER + IMG PRINCIPAL */

header{
    width: 100%;
    height: 100vh;
}

.nav-bar{
    height: 10%;
    width: 100%;
    display: inline-flex;
    background-color: white;
}

.nav-bar span{
    width: 20%;
    height: 100%;
    padding: 3px;
}

.nav-bar span img{
    height: 99%;
    width: 99%;
}

.cont-li{
    width: 70%;
    height: 100%;
    display: inline-flex;
    padding: 0;
}

.items{
    margin: auto;
    padding: auto;
    list-style: none;
}

.link-hd{
    text-decoration: none;
    font-size: 1.2rem;
    color: #000;
}

.link-hd:hover{
    color: gray;
    border-bottom: 2px solid gray;

}

.contMenu{
    visibility: hidden;
    height: 0;
    width: 0;
}

.contIcons-navbar{
    width: 10%;
    display: flex;
    padding: 1px;
}

.imgIcon-navbar{
    height: 70%;
    width: 40%;
    margin: 1%;
    margin-top: 5%;
    cursor: pointer;
}

.menuBtn{
    margin: auto;
    font-size: 1rem;
}

.contImgPrin{
    width: 100%;
    height: 90%;
}

.contImgPrin img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}

/* FIN PARTE HEADER */

/* HEADER DARK */

.menuBtn_dark{
    color: #fff;
    transition: all .2s;
}

.dark-nav-bar{
    background-color: rgb(32, 32, 32);
    transition: all .2s;
}

.dark-link-hd{
    color: #fff;
}

.dark-link-hd:hover{
    color: #fff;
    border-bottom: 2px solid #fff
}

.bodyDark{
background-color: rgb(32, 32, 32);
transition: all .2s;
}

.dark-quienesSomos{
color: #fff;
transition: all .2s;
}

.dark-p{
color: #fff;
transition: all .2s;
}

.imgIcon-navbar-dark{
    background-color: #fff;
    padding: 2%;
}

/* FIN HEADER DARK */

/* COMIENZO PARTE "QUIENES SOMOS" */

.quienesSomos{
width: 30%;
margin: 4% auto;
font-family: 'Times New Roman', Times, serif;
font-size: 1.8rem;
padding: 5px;
border-bottom: solid 1px blue;
}

.conText{
margin-bottom: 4%;
}

.contImg-fixed{
    height: 40vh;
    width: 100%;
    margin: auto;
    margin-bottom: 15px;
    background-image: url(./img/fondo-fixed.jpg);
    background-attachment: fixed;
    position: relative;
}

.text-start{
    position: absolute;
    font-size: 2.3rem;
    font-family: 'Times New Roman', Times, serif;
    color: #fff;
    padding: 1%;
    text-align: start;
    background-color: rgba(0, 0, 0, 0.65);
    top: 5%;
    left: 2%;
}

.text-end{
    font-size: 2.3rem;
    font-family: 'Times New Roman', Times, serif;
    color: #fff;
    padding: 1%;
    text-align: end;
    background-color: rgba(0, 0, 0, 0.65);
    position: absolute;
    bottom: 5%;
    right: 2%;
}

.boxVision{
height: 40%;
margin: 5%;
}

.mVision{
height: 30%;
width: 30%;
}

.title-v{
font-size: 1.5rem;
font-family: 'aller_lightregular';
color: rgba(2, 2, 83, 0.829);
text-decoration: underline;
}

/* FIN "QUIENES SOMOS" */

/* QS DARK */

.dark-title-v{
color: beige;
}

/* FIN QS DARK */

/* COMIENZO PARTE PRODUCTOS */

.colum{
margin: 0;
margin-bottom: 15px;
}

.productos{
    height: 20%;
    font-size: 2.8rem;
    color: #fff;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.65);
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
    margin: auto;
}

.contenedorProd{
    height: 38vh;
    width: 100%;
    border: 1px solid;
    border-radius: 3px;
    padding: 5px;
    margin: 4%;
    position: relative;
    left: -2.5%;
    background: #fff;
}

.contenedorProd:hover{
padding: 10px;
box-shadow: -4px 6px 10px -3px;
transition: all 0.5s;
}

.contenedorProd img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.contLink{
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 100%;
    border: solid 1px black;
    background-color: rgb(41, 104, 200);
    cursor: pointer;
}


.contLink p{
text-decoration: none;
color: #fff;
margin-bottom: 0%;
}

.contLink p:hover{
color: #fff;
text-decoration: underline;
}

.title-nameProd{
    width: 100%;
    font-size: 1.5rem;
    padding: 5px;
    background-color: gray;
    margin: 10px 0px;
}

.btn-primary{
    background-color: rgb(41, 104, 200) !important;
    border: none !important;
    width: 100%;
    height: 100%;
}

.modal-body{
    height: 50vh;
    width: 100%;
}

.modal-body img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* FIN PARTE PRODUCTOS */

/* PARTE PRODUCTOS DARK */

.title-nameProd-dark{
color: rgb(41, 104, 200);
background-color: #fff;
}

.contenedorProd-dark{
border: 1px solid;
}

.contenedorProd-dark:hover{
    box-shadow: -6px 5px 8px -5px ghostwhite;
}

.contLink-dark{
border: 1px solid white;
}

/* FIN PARTE PRODUCTOS DARK */

.line{
    width: 90%;
    border-bottom: solid 2px #000;
    margin: auto;
}

.line-dark{
    border-bottom: solid 2px #fff;
  }
  
.msj{
    height: 1%;
    visibility: hidden;  
}
  

/* FOOTER */

footer{
background-color: #fff;
height: 80vh;
width: 100%;
}

.altura{
    height: 75%;
}

.contElement{
    display: inline-flex;
    width: 100%;
    margin-top: 1%;
}

.follow{
    width: 100%;
    padding: 5px;
    font-size: 1.3rem;
    display: block;
}

.boxIcons{
    margin: auto;
}

.iconTamano{
font-size: 2rem;
color: #000;
}

.iconTamano:hover{
    color: rgb(41, 104, 200);
    transition: all .3s;
}

.contMaps{
height: 100%;
width: 90%;
padding-top: 5%;
margin: auto;
}

.maps{
height: 100%;
width: 100%;
border-radius: 3px;
}

.conte{
    position: relative;
    height: 2rem;
    background-color: #000;
    color: #fff;
}

.left{
    position: absolute;
    left: 1%;
}

.right{
    position: absolute;
    right: 1%;
}

.right a{
    text-decoration: none;
    color: #fff;
    padding-bottom: 0.5%;
}

.right a:hover{
    color: #fff;
    border-bottom: solid 1px #fff;
}



/* FIN FOOTER */

/* FOOTER DARK */

.footer-dark{
background-color: rgb(32, 32, 32);
}

.follow-dark{
    color: #fff;
}

/* FIN FOOTER DARK */

/* BTN DARK MODE */

.contBtn-darkMode{
height: 50px;
position: fixed;
right: 1%;
top: 9%;
z-index: 1;
border-radius: 50%;
background-color: #fff;
}

.contBtn-darkMode:hover{
box-shadow: 0px 1px 11px 2px grey;
transition: all 0.2s;
}

.btn-darkMode{
padding: 2px;
cursor: pointer;
height: 100%;
}

.btnIcon{
font-size: 3rem;
height: 100%;
border-radius: 50%;
}

/* FIN BTN DARK MODE */

/* SCROLL UP */

.go-top-container{
    position: fixed;
    bottom: 4rem;
    right: -1rem;
    width: 3.6rem;
    height: 3.6rem;
    z-index: -1;
}

.go-top-buttom{
    width: 0rem;
    height: 0rem;
    background-color: rgb(0, 114, 121); 
    border-radius: 50%;
    cursor: pointer;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.go-top-buttom i{
    position: absolute;
    font-size: 1.7rem;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    color: #fff;
    transition: .2s;
}

.show{
    z-index: 10;
}

.show .go-top-buttom{
    animation: popup .3s ease-in-out;
    width: 3rem;
    height: 3rem;
    z-index: 1;
}

.show i{
    transform: translate(-50%, -50%) scale(1);
}

@keyframes popup{
    0%{
        width: 0rem;
        height: 0rem;
    }

    50%{
        width: 3.5rem;
        height: 3.5rem;
    }

    100%{
        height: 3.6rem;
        width: 3.6rem;
    } 
}

/* FIN SCROLL UP */


@media(max-width: 700px){

    /* HEADER + NAVBAR*/

    .nav-bar span{
        width: 70%; 
        margin: auto;
    }

    .cont-li{
        visibility: hidden;
        width: 0;
        display: none;
    }

    .mostrar{
        position: absolute;
        display: inline-block;
        visibility: visible;
        width: 100%;
        height: 55%;
        top: 10%;
        left: 0%;
        background: gray;
        text-align: center;
        transition: all .2s;
    }

    .items {

        margin: 6%;
        list-style: none;
        padding: 6px;
    }

    .items:hover{
        background-color: rgb(41, 104, 200);
        transition: all .2s;
    }

    .contMenu {
        visibility: visible;
        height: 100%;
        width: 10%;
        margin: auto;
    }

    #menuBtn {
        margin: auto;
        font-size: 2.5rem;
        padding-top: 30%;
    }

    .contIcons-navbar{
        width: 20%;
        padding: 0%;
    }

    .imgIcon-navbar{
        height: 70%;
        width: 45%;
    }


    /* -------------- */

    .text-start{
        font-size: 2rem;
    }

    .text-end{
        font-size: 2rem;
    }

    .quienesSomos{
        width: 50%;
    }

    .contenedorProd{
        height: 30vh;
        width: 95%;
        left: 0%;
    }

    .contMaps{
        height: 55vh;
    }

    .go-top-container{
        right: 0rem;
    }

    .contBuy{
        right: 0%;
        left: 0%;
        bottom: 0.5%;
        margin: auto;
        width: 70%;
    }

}

@media(max-width: 420px){
    .text-start{
        font-size: 1.5rem;
    }

    .text-end{
        font-size: 1.5rem;
    }
}

